.container {
	text-align: center;
	margin: auto;
	height: 100%;
}
.header {
	display:flex;
	justify-content: center;
	margin:auto;
	padding: 1em;
}
table.center {
	margin-left: auto;
	margin-right: auto;
}
th, td {
	height: 60px;
	width: 60px;
	text-align: center;
	vertical-align: middle;
        background-color: #ecebf4;
}
td.day {
	height: 30px;
}
.light {
	background-color: #A5DD9F;
	cursor: pointer;
}
.moderate {
	background-color: #89E3D1;
	cursor: pointer;
}
.heavy {
	background-color: red;
}
.past {
	background-color: #CCEDC8;
	cursor: auto;
}
.today {
	background-color: #5ECBB6;
	cursor: pointer;
}
td:first-child {
    background-color: #ecebf4;   
}
td:first-child.today {
	background-color: #37e4e1;
	cursor: pointer;    
}
.calendar {
	margin: 0 auto;
}
.content {
	padding-bottom: 60px;
}
.footer {
	position: absolute;
	height: 60px;
	width: 100%;
        bottom: 10px;
	text-align: center;
	clear: both;
}
.today:hover {
    background-color: #5ECBB6;
   -webkit-animation: hov 1s 1 forwards;
   animation: hov 1s 1 forwards;
}
.light:hover {
    background-color: #A5DD9F;
   -webkit-animation: lig 1s 1 forwards;
   animation: lig 1s 1 forwards;
}
.moderate:hover {
    background-color: #89E3D1;
   -webkit-animation: mod 1s 1 forwards;
   animation: mod 1s 1 forwards;
}
td:first-child:hover {
    background-color: #ecebf4;
   -webkit-animation: fir 1s 1 forwards;
   animation: fir 1s 1 forwards;
}
td:first-child:hover.day,
td:first-child:hover.past {
    background-color: #ecebf4;
   -webkit-animation: noani 1s 1 forwards;
   animation: noani 1s 1 forwards;
}
@-webkit-keyframes hov {
  from { background-color: #5ECBB6; -webkit-box-shadow: 0 0 9px #333; }
  to { background-color: #C1F4EA; -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes lig {
  from { background-color: #A5DD9F; -webkit-box-shadow: 0 0 9px #333; }
  to { background-color: #CCEDC8; -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes mod {
  from { background-color: #89E3D1; -webkit-box-shadow: 0 0 9px #333; }
  to { background-color: #BAF4E9; -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes fir {
  from { background-color: #ecebf4; -webkit-box-shadow: 0 0 9px #333; }
  to { background-color: #ecebf4; -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes noani {
  from { background-color: #ecebf4; }
  to { background-color: #ecebf4; }
}
.blank {
	width: 60px;
	visibility: hidden;
}
.left {
	text-align: left;
	display: inline-block;
}
.right {
	text-align: right;
	display: inline-block;
}
.next {
    background:url(../images/next.png) no-repeat;
    cursor:pointer;
    border:none;
    width:60px;
    height:60px;
}
.previous {
    background:url(../images/previous.png) no-repeat;
    cursor:pointer;
    border:none;
    width:60px;
    height:60px;
}
/* Animations for forms or panels*/
.dayPanel {
    margin: 0 auto;
	width: 30%;
    border: #37e4e1 solid 3px;
	padding: 1em;
}       
.timeSlot {
    margin: 10px auto;
    position: relative;
    width: 175px;
    height: 25px;
    border: #37e4e1 solid 1px;
    text-align: center;
}
.avail {
    background-color: #089E22;
}
.unavail {
    background: #AA4C39;
}
.sbutton {
    position: relative;
    margin: 10px 200px;
    background: #37e4e1;
}
.fadeIn {
        animation: fadeIn 1.5s ease-in;
	-webkit-animation: fadeIn 1.5s ease-in;		
	visibility: visible !important;	
}
@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
.fadeOut {
    animation: fadeOut 1.5s ease-in;
	-webkit-animation: fadeOut 1.5s ease-in;
	visibility: visible !important;
}
@keyframes fadeOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0.0;
	}
}
@-webkit-keyframes fadeOut {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
}
