.container {
	text-align: center;
	margin: auto;
	height: 100%;
}
.header {
	display:flex;
	justify-content: center;
	margin:auto;
	padding: 1em;
}
table.center {
	margin-left: auto;
	margin-right: auto;
}
th, td {
	height: 55px;
	width: 55px;
	text-align: center;
	vertical-align: middle;
}

.light {
	background: linear-gradient(to bottom,  #00796D 0%, #37e4e1 100%);
	cursor: pointer;
        border: #37e4e1 outset 3px;
}
.moderate {
	background-color: #94a956;
	cursor: pointer;
        border: #94a956 solid 3px;
}
.heavy {
	background-color: #FF4D4D;
        border: #FF4D4D solid 3px;
}
.past {
	background-color: #D9D9D9;
        opacity: 0.5;
	cursor: auto;
        border: #D9D9D9 outset 3px;
}
.today {
	background: linear-gradient(to bottom,  #378C00 0%,#86E04C 100%);
        border: #86E04C outset 3px;
	cursor: pointer;
}
td:first-child {
    background-color: #FFF;
    border: #D9D9D9 outset 3px;
    opacity: 0.5;
}
td:first-child.today {
	background-color: #37e4e1;
        border: #37e4e1 outset 3px;
	cursor: pointer;    
}
td.day {
	height: 30px;
        background-color: #37e4e1;
        opacity: 1;
        border: #37e4e1 outset 3px;
}
.calendar {
	margin: 0 auto;
}
.content {
	padding-bottom: 60px;
}
.footer {
	position: absolute;
	height: 60px;
	width: 100%;
        bottom: 10px;
	text-align: center;
	clear: both;
}
.today:hover {
    background: #378C00;
   -webkit-animation: hov 1s 1 forwards;
   animation: hov 1s 1 forwards;
}
.light:hover {
    background: #37e4e1;
   -webkit-animation: lig 1s 1 forwards;
   animation: lig 1s 1 forwards;
}
.moderate:hover {
    background-color: #89E3D1;
   -webkit-animation: mod 1s 1 forwards;
   animation: mod 1s 1 forwards;
}
td:first-child:hover,
td:first-child:hover.past {
    background-color: #FFF;
    border: #D9D9D9 outset 3px;
    opacity: 0.5;
   -webkit-animation: noani 1s 1 forwards;
   animation: noani 1s 1 forwards;
}
td:first-child:hover.day {
    height: 30px;
    background-color: #37e4e1;
    opacity: 1;
    border: #37e4e1 outset 3px;
    -webkit-animation: noanim 1s 1 forwards;
   animation: noanim 1s 1 forwards;
}
@-webkit-keyframes hov {
  from { background: #86E04C; -webkit-box-shadow: 0 0 12px #333; }
  to { background: #378C00; -webkit-box-shadow: 0 0 12px #333; }
}
@-webkit-keyframes lig {
  from { background: #37e4e1; -webkit-box-shadow: 0 0 12px #333; }
  to { background: #00796D; -webkit-box-shadow: 0 0 12px #333; }
}
@-webkit-keyframes mod {
  from { background-color: #89E3D1; -webkit-box-shadow: 0 0 9px #333; }
  to { background-color: #BAF4E9; -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes noani {
  from { background-color: #FFF;
         border: #D9D9D9 outset 3px;
         opacity: 0.5; } 
  to { background-color: #FFF;
       border: #D9D9D9 outset 3px;
       opacity: 0.5; }
}
@-webkit-keyframes noanim {
  from { background-color: #37e4e1;
         border: #37e4e1 outset 3px;
         opacity: 1; } 
  to { background-color: #37e4e1;
       border: #37e4e1 outset 3px;
       opacity: 1; }
}
.blank {
	width: 60px;
	visibility: hidden;
}
.left {
	text-align: left;
	display: inline-block;
}
.right {
	text-align: right;
	display: inline-block;
}
.next {
    background:url(../images/next.png) no-repeat;
    cursor:pointer;
    border:none;
    width:60px;
    height:60px;
}
.previous {
    background:url(../images/previous.png) no-repeat;
    cursor:pointer;
    border:none;
    width:60px;
    height:60px;
}
/* Animations for forms or panels*/
.dayPanel {
    margin: 0 auto;
	width: 30%;
    border: #37e4e1 solid 3px;
	padding: 1em;
}       
.timeSlot {
    margin: 10px auto;
    position: relative;
    width: 175px;
    height: 25px;
    border: #37e4e1 solid 1px;
    text-align: center;
}
.avail {
    background-color: #6BD128;
}
.unavail {
    background: #FF4D4D;
}
.sbutton {
    position: relative;
    margin: 10px 200px;
    background: #37e4e1;
}
.fadeIn {
        animation: fadeIn 1.5s ease-in;
	-webkit-animation: fadeIn 1.5s ease-in;		
	visibility: visible !important;	
}
@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
.fadeOut {
    animation: fadeOut 1.5s ease-in;
	-webkit-animation: fadeOut 1.5s ease-in;
	visibility: visible !important;
}
@keyframes fadeOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0.0;
	}
}
@-webkit-keyframes fadeOut {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
}
